/* CKEditor style */
.cke_editable {
    margin: 0;
    padding: 0 15px;
  }
  .cke-code-snippet {
    margin: 1rem 0 1.5rem 0;
    padding: 5px;
    border: 1px solid #e4e6e8;
    transition: margin 0.1s;
  }
  .cke-code-snippet pre {
    margin: 0 !important;
  }
  .cke-code-snippet__toolbar {
    position: relative;
    margin: 5px 0 0 0 !important;
    text-align: right;
    height: 35px;
  }
  .cke-code-snippet.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    margin: 0;
    background: #ffffff;
    height: 100vh;
  }
  .cke-code-snippet.fullscreen pre code {
    max-height: calc(100vh - 72px);
    overflow: scroll;
  }
  .cke-code-snippet__notify-copy {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 0.7rem;
    font-style: italic;
    opacity: 0;
    transition: 0.1s;
    color: #6f6f6f;
  }
  .cke-code-snippet__notify-copy.notify--show {
    opacity: 1 !important;
  }
  .cke-code-snippet__button {
    font-size: 12.5px;
    line-height: 14px;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
    touch-action: manipulation;
  }
  .cke-code-snippet__button--default {
    color: #6f6f6f;
    background-color: rgba(144, 147, 153, 0.1);
    border: 1px solid #d7d7d7;
  }
  .cke-code-snippet__button--default:hover {
    color: #6f6f6f;
    background-color: #fafbfc;
    border: 1px solid #d7d7d7;
  }
  .cke-code-snippet__button--primary {
    color: #fff;
    background-color: #409eff;
    border: 1px solid #409eff;
  }
  .cke-code-snippet__button--primary:hover {
    color: #fff;
    background-color: #66b1ff;
    border: 1px solid #66b1ff;
  }
  
  /* General style */
  * {
    box-sizing: border-box;
  }
  html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  a {
    text-decoration: none;
  }
  a {
    color: #42b983;
  }
  a:hover {
    color: #66c89c;
  }
  img:not(.cke_widget_mask) {
    max-width: 100%;
    height: auto !important;
  }
  code {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  
  /* Post content style */
  .post__content {
    font-size: 1.2rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.84);
  }
  .post__content h2 {
    margin-top: 2.4rem;
    margin-bottom: 1rem;
    padding-bottom: 0.8rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #ddd;
  }
  .post__content h3 {
    margin-top: 2rem;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .post__content h4,
  .post__content h5,
  .post__content h6 {
    margin-top: 1.6rem;
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .post__content p {
    margin: 1.2rem 0;
  }
  .post__content h2 + p,
  .post__content h3 + p,
  .post__content h4 + p {
    margin-top: 1rem;
  }
  .post__content pre,
  .post__content ul,
  .post__content ol {
    margin: 1rem 0 1.5rem 0;
  }
  .post__content ul,
  .post__content ol {
    padding: 0 0.8rem 0 2.2rem;
  }
  .post__content p + pre {
    margin-top: 0;
  }
  .post__content pre code.hljs {
    padding: 1em;
    background: #f5f2f0;
  }
  .post__content pre code .hljs-comment {
    color: #898989;
  }
  .post__content blockquote {
    margin: 0;
    padding: 0.5rem 1.2rem 0.5rem 1.5rem;
    border-left: 4px solid #e96900;
  }
  .post__content > blockquote:first-child {
    margin-top: 1.2rem;
  }
  .post__content blockquote > p:first-child {
    margin-top: 0.5rem;
  }
  .post__content blockquote > p:last-child {
    margin-bottom: 0.5rem;
  }
  .post__content table {
    width: 100%;
    border-left: 1px solid #ebeef5 !important;
    border-top: 1px solid #ebeef5 !important;
    border-right: none !important;
    border-bottom: none !important;
  }
  .post__content table th,
  .post__content table td {
    text-align: left;
    padding: 0.6rem 0.8rem;
    border-left: none !important;
    border-top: none !important;
    border-right: 1px solid #ebeef5 !important;
    border-bottom: 1px solid #ebeef5 !important;
  }
  .post__content table tr:nth-child(even) td {
    background: #fafafa;
  }
  .post__content .marker {
    font-weight: normal;
    background: #f8f8f8;
    color: #e96900;
    padding: 0 5px;
  }
  
  .post__content .image-captioned {
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  .post__content .image-captioned figcaption {
    font-size: 0.9em;
    color: #333333;
  }
  
  .post__content .image-center {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .post__content .image-left {
      float: left;
      margin-right: 15px;
    }
  
    .post__content .image-right {
      float: right;
      margin-left: 15px;
    }
  }
  