* {
    margin: 0px;
    box-sizing: border-box;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table, th {
    /* border: 2px solid black; */
    padding: 15px;
}

th {
    background-color: rgb(172, 230, 253);
}

table {
    margin: auto;
    margin-top: 100px;
}

td:hover {
    color: red;
}

.ava {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5px;
    object-fit: cover;
}

/* .ava:hover {
    border: red 2px solid;
} */

tr:hover td, tr:hover th {
    color: red;
}

tr:hover .ava {
    border: red 2px solid;
}