.header{
    background-color: green;
    height: 70px;
    margin-bottom: 25px;
    justify-content: space-between;
    /* background-image: url(./image/back.jpg); */
}
a.nav{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.logo{
    height: 100%;
    width: 20%;
    margin-left: 20px;
}
.logo>img{
    max-height: 100%;
}
.nav-bar{
    width: 60%;
    margin: auto;
}
.nav{
    margin: 15px;
}
.nav-bar.row{
    justify-content: center;
    
}